@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  color: oklch(0.07 0 0);
  line-height: 1.5;
  background-color: oklch(0.98 0 0);
  border: 12px solid currentColor;
  -webkit-font-smoothing: antialiased;
}

main {
  display: grid;
  grid-template-columns: 1fr min(65ch, calc(100% - 32px)) 1fr;
}

main > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

picture,
canvas,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

:focus-visible {
  outline: 4px double black;
  outline-offset: 1px;
  border-radius: 0.125rem;
}

#root,
#__next {
  isolation: isolate;
}
